[submodule "libpng-apng"]
	path = src/libpng-apng
	url = https://git.code.sf.net/p/libpng-apng/code
	branch = libpng16
[submodule "zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
	branch = master
