[submodule "libpng-apng"]
	path = Source/libpng-apng
	url = https://git.code.sf.net/p/libpng-apng/code
	branch = libpng16
[submodule "zlib"]
	path = Source/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "clipp"]
	path = Source/clipp
	url = https://github.com/muellan/clipp.git
	branch = master
